---
---

<section class="stats">
  <div class="stats-inner">
    <div class="stat"><span class="stat-n">+2500</span><span class="stat-l">Preguntas en Beta</span></div>
    <div class="stat-div"></div>
    <div class="stat"><span class="stat-n blue">2</span><span class="stat-l">materias <span class="stat-soon">+más muy pronto</span></span></div>
    <div class="stat"><span class="stat-n">+Flashcards</span><span class="stat-l"> <span class="stat-soon">proximamente</span></span></div>
    <div class="stat-div"></div>
    <div class="stat"><span class="stat-n green">3</span><span class="stat-l">Niveles de Dificultad</span></div>
    <div class="stat-div"></div>
    <div class="stat"><span class="stat-n sm">Beta Activa</span><span class="stat-l">iOS · Android proximamente</span></div>
  </div>
</section>
